<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>
    
    <p>Villa 24, SJH Groovy Woods, Srinivasa Nagar, 6th Cross Street, Kazhipattur, Chennai 603103</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "+91-8056032342" %></p>

    <h3>Email</h3>

    <p><a href="mailto:imran.basha@francium.tech?subject=PortfolioContact" "email me">Email me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.441354682048!2d80.22504255093989!3d12.814731721722532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525bb9242fa573%3A0xc2abf3a978708e93!2sFrancium+Tech!5e0!3m2!1sen!2sin!4v1554896812709!5m2!1sen!2sin" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
